# Ignore everything by default
*

!README.md

# i3wm
!.config
!.config/i3
!.config/i3/**/*

# polybar
!.config/polybar
!.config/polybar/**/*

# picom
!.config/picom.conf

# rofi
!.config/rofi
!.config/rofi/**/*

# solaar
!.config/solaar
!.config/solaar/**/*

# vim
!.vimrc
!.vim
!.vim/**/*

# zsh
!.zshrc

# git
!.gitconfig
!.gitignore

# wezterm
!.wezterm.lua

